@font-face {
    font-family: odin-font;
    src: url("images/Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-banner {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.right-info {
    display: flex;
    flex-direction: column;
    flex: 1.5 1 0;
    justify-content: start;
    background-color: #EBEDf1;
}

.logo {
    display: flex;
    margin: auto;
    background-color: black;
    opacity: 50%;
    width: 100%;
    padding: 1em 0;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
}

.logo-header {
    font-family: odin-font;
    font-size: 96px;
    color: white;
    padding-top: 0.2em;
}

footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 2em;
    color: white;
}

footer > a {
    color: white;
}

h2 {
    margin: 1em;
}

h2.mid {
    margin: 0em;
}

.middle {
    background-color: white;
    padding: 3em 2em;
    margin-top: 2em;
}

.row-input {
    display: flex;
    gap: 60px;
    margin-top: 1em;
    font-variant: small-caps;
    font-size: 18px;
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    width: 20em;
    outline: none;
    font-size: 16px;
    padding: 0.4em;
}

input:focus {
    border: 2px solid #2054bd;
    box-shadow: 0.3em 0.3em 1em rgb(65, 65, 65 0.6);
}

input:invalid {
    border-color: red;
}

.bottom {
    margin: 4em 2em;
}

button {
    background-color: #596D48;
    border-style: none;
    border-radius: 8px;
    padding: 1em 3em;
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-bottom: 1em;
}

label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}